body {
  width: 500px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

textarea {
  font-family: monospace;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  margin: 0;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.browser-style {
  color: #0c0c0d;
  background-color: #f9f9fa;
}

.panel-section {
  display: flex;
  flex-direction: row;
}

.panel-section-separator {
  background-color: rgba(0, 0, 0, 0.1);
  min-height: 1px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.panel-section-tabs {
  flex-direction: row;
  height: 41px;
  margin: 0;
  padding: 0;
}

.panel-section-tabs-button {
  flex: 1;
  height: 100%;
  margin: 0;
  padding: 12px 4px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel-section-footer {
  background-color: rgba(0, 0, 0, 0.06);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  color: #1a1a1a;
  height: 41px;
  margin: 0;
  padding: 0;
}

.panel-section-footer-button {
  flex: 1;
  height: 100%;
  margin: 0;
  padding: 12px 4px;
  text-align: center;
  cursor: pointer;
}

.options {
  padding: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.06);
}

.reset {
  float: right;
  padding: 4px 8px;
  margin: 5px;
  background-color: #f9f9fa;
  border: 1px solid rgba(12, 12, 13, 0.1);
  border-radius: 2px;
  color: #0c0c0d;
  cursor: pointer;
}

.file-size {
  color: #737373;
}

.text-input {
  display: block;
  margin: 4px 0;
  width: 100%;
}

label {
  display: block;
  margin: 4px 0;
} 